
.container{
    margin: 20% 0px 86px 0%;
}

div img{
   margin: 20% 10% 10% 25%;
    width: 50%;
}
.form-group{
    margin: -5% 0 0 27%;
    width: 42%;
}
.button{
   margin:  5% 0px 0px 36%;

}
.icons {
    display: inline-block;
    width: 18%;
    margin:8% 0px 0 38%;
    
}
